---
import type { CollectionEntry } from "astro:content";
import { commentConfig } from "@/config";
import Giscus from "./Giscus.svelte";
interface Props {
  post: CollectionEntry<"posts">;
}

const { id, data, slug } = Astro.props.post;

const path = `/posts/${slug}`;
const url = `${Astro.site?.href}${path}`;

let commentService = "";
if (commentConfig?.giscus) {
  commentService = "giscus";
}
---

<div>
  {commentService === "giscus" && <Giscus client:only="svelte" />}
  {commentService === "" && null}
</div>
